/* ! X-Small */
@media screen and (min-width: 400px) {
    .header_container-content-cube {
        display: block;
    }
    .profile-picture {
        width: 10%;
    }
    .page_projects {
        gap: 1rem;
    }
    .projects_container {
        width: 80%;
    }
}

/* ! Small */
@media screen and (min-width: 576px) {
    .nav-item, .link-item {
        width: 45px;
        height: 45px;
    }
    .header_presentation-content {
        text-align: center;
        line-height: 1.2rem;
    }
    .projects_container {
        width: 60%;
    }
    .page-skills {
        width: 80%;
        margin: 0 auto;
    }
    .skills_circle {
        width: 5rem;
        height: 5rem;
    }
}

/* ! Medium */
@media screen and (min-width: 768px) {
    .header_presentation-subtitle {
        font-size:  1.2rem;
    }
    .header_presentation-title {
        font-size: 2.5rem;
    }
    .header_presentation-content {
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: 70%;
        margin: 0 auto;
    }
    .header_presentation-statut {
        text-align: center;
    }
    .projects_title {
        text-align: center;
    }
    .skills_circle {
        width: 6rem;
        height: 6rem;
    }
    .projects_container {
        width: 50%;
    }
}

/* ! large */
@media screen and (min-width: 992px) {
    .projects_container {
        width: 30%;
    }
    .page_projects {
        gap: 1rem;
    }
    .pageNotFound, .server-error{
        width: 80%;
        margin: 0 auto;
      }
      .skills_circle {
        width: 7rem;
        height: 7rem;
    }
    .projects_container {
        width: 40%;
    }
}

/* ! Extra Large */
@media screen and (min-width: 1200px) {
    .header_presentation-content, .header_presentation-statut{
        font-size: 1.2rem;
        line-height: 2rem;
    } 
    .link_container {
        justify-content: flex-end;
        width: 95%;
    }
    .page-projects {
        gap: 0.5rem;
    }
    .pageNotFound, .server-error{
        width: 60%;
        margin: 0 auto;
      }
    #github_stats {
        display: block;
    }
    .skills_circle {
        width: 8rem;
        height: 8rem;
    }
    .skills_container-item {
        gap: 3rem;
    }
    .projects_container {
        width: 30%;
    }
}
