/* ! GLOBAL */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
body {
  border: 8vh solid rgb(0, 0, 0);
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Lato", Arial, sans-serif;
}

.main {
  overflow: hidden;
  border: 3px solid #979797;
  background-color: #E9E9E9;
}

#bloc_header, #bloc_skills, #bloc_project {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  height: calc(100vh - (33vh));
}

#bloc_project {
  gap: 1.5rem;
}

.flag_language, .nav {
  height: 5vh;
}

.link_container {
    height: 10vh;
}

.react_logo {
  width: 20%;
}

/* ! DARKMODE  */ 
.darkmode {
  background-color: #252525;
}

/* ! CIRCLE BOTTOM */

.circle-bottom-background {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #252525;
  position: absolute;
  left: calc(50% - 20px);
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.circle-bottom-background_interior {
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 4px solid #5E5E5E;
}

/* ! SWITCH LANGUAGE MENU */

.language_fr {
  background-image: url("../ressources/flag/france.png");
}

.language_en {
  background-image: url("../ressources/flag/united-kingdom.png");
}

.flag_language-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.flag_language-container-button {
  height: 1rem;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 1rem;
  background-color: rgba(167, 221, 214, 0.2);
}

.flag_language-button {
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
}

/* ! NAV */

.nav_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20vh;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.nav_container a {
  text-decoration: none;
}

.nav_container li {
  border-radius: 15px;
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.dot {
  margin-top: 1rem;
  padding: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  visibility: hidden;
  position: absolute;
  top: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav.active {
  visibility: visible;
  animation: 2s fadeIn;  
}

.nav_container:has(.nav.active) {
  animation: 2s fadeIn;
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* ! LINK BOTTOM */

.link_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 0.8rem;
}

.link_container_button {
  padding: 15px 15px;
  background-image: linear-gradient(-45deg, #0dff0d, #00ffff, #0099ff);
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  background-size: 400% 400%;
  animation: mymove 3s linear infinite;
}

@keyframes mymove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.link_button-item {
  padding: 1rem;
  border: none;
  border-radius: 1000px;
  font-weight: bolder;
  font-size: 1rem;
  mix-blend-mode: screen;
  letter-spacing: 1px;
  z-index: 10;
}

.link_button-item:active {
  border: none;
  -webkit-border: none;
  -ms-border: none;
  -moz-border: none;
}


/* ! BLOC PRESENTATION */
.header_presentation-subtitle-span,
.header_presentation-title,
.header_presentation-statut,
.header_link-item {
  font-weight: bold;
}


.header_presentation-title {
  font-size: 2rem;
  color: #EC9B3B;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2px;
}

.header_presentation-content {
  color: rgb(187, 187, 187);
}

/* ! BLOC SKILLS */
.skills_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.skills_container {
  display: flex;
  flex-direction: column;
}

.skill_category-title {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.skills_category_item-container {
  width: 100%;
}

.skills_category_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  padding: 0.5rem;
  color: #fff;
  background: #000;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}
.skill-item img {
  width: 20px;
  height: 20px;
}

.skill_category-title img {
  width: 15%;
}

/* ! BLOC PROJECTS*/
.projects_container {
  width: 80%;
  margin: 0 auto;
}

.projects_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 15px;
  background: white;
}

.card_image img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card_link {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #EC9B3B;
}

.card_title {
  font-size: 1.2rem;
  color: black;
  font-weight: 900;
}

.card_description {
  padding: 1rem;
}

.card_languages {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EC9B3B;
}

.language_item {
  width: 50%;
  color: white;
  text-align: center;
  padding: 1rem;
}

#swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 1.6rem;
  height: 4px;
  border-radius: 0;
  transition: width 0.3s;
}

.swiper-pagination-bullet-active {
  width: 4rem;
}

/* !  CUBE  */

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: solid 2px #1dddbc;
  background-color: black;
}

.avant {
  transform: translateZ(50px);
}

.haut {
  transform: rotateX(90deg) translateZ(50px);
}

.gauche {
  transform: rotateY(-90deg) translateZ(50px);
}

.droite {
  transform: rotateY(90deg) translateZ(50px);
}

.bas {
  transform: rotateX(-90deg) translateZ(50px);
}

.arriere {
  transform: rotateY(-180deg) translateZ(50px);
}

#cube3a,
#cube3b,
#cube3c,
#cube3d {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 2rem;
  transform-style: preserve-3d;
}

#cube3a {
  perspective: 800px;
}

#cube3b {
  animation: rotationX 5s ease infinite;
}

#cube3c {
  animation: rotationY 7s ease infinite;
}

#cube3d {
  animation: rotationZ 9s ease infinite;
}

@keyframes cube {
  from {
    transform: rotateY(-20deg) rotateX(-20deg);
  }
  to {
    transform: rotateY(-380deg) rotateX(-20deg);
  }
}
@keyframes rotationX {
  from {
    transform: rotateX(30deg);
  }
  to {
    transform: rotateX(390deg);
  }
}
@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotationZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes showMain { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  animation: showMain 2s ease;
}

@keyframes hiddenMain { 
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

main.animate-out {
  animation: hiddenMain 2s ease;
}