/* Gestion global */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
body {
  border: 8vh solid rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Lato", Arial, sans-serif;
  color: whitesmoke;
}

/* Gestion de l'effet tablette */
.main {
  overflow: hidden;
  border: 3px solid #979797;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Gestion générale des pages */
.page-header, .page-skills, .page-projects, .container-error, .form_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  height: calc(100vh - (33vh));
}

.page-header {
  gap: 0rem;
}

.page-projects {
  gap: 1.5rem;
}

.main_container, .nav {
  height: 5vh;
}

.link_container {
    height: 8vh;
}

/* Gestion de la photo de profil */
.profile-picture {
  width: 20%;
  border-radius: 50%;
  border: 5px solid #e3e3e3;
  border-radius: 50%;
  box-shadow: 0 0 25px 5px #ffffff;
}

.main_pict-elt{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}


/* Gestion de l'effet cercle */
.circle-bottom-background {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #252525;
  position: absolute;
  left: calc(50% - 20px);
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.circle-bottom-background_interior {
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 4px solid whitesmoke
}

/* Gestion du menu de navigation */
.nav_container {
  position: absolute;
  left: calc((100vw - 2vw) /2);
  top: 0;
  width: 2vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav_container a {
  text-decoration: none;
  color: #446eac;
}

.nav {
  position: absolute;
  top: 1.5vh;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Gestion des liens externe */
.link_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  }

.link-item, .nav-item  {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  color: #446eac;
  overflow: hidden;
  position: relative;
  }

.link-item i, .nav-item i {
  line-height: 90px;
  font-size: 1rem;
  transition: 0.2s linear;
}

.link-item:hover i, .nav-item:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.link-item::before, .nav-item::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #446eac;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.link-item:hover::before, .nav-item:hover::before {
  animation: hoverLink 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes hoverLink {
  0% {
  left: -110%;
  top: 90%;
  }
  50% {
  left: 10%;
  top: -30%;
  }
  100% {
  top: -10%;
  left: -10%;
  }
}

/* Gestion de la page About */

.container_console {
  width: 100%;
}

.console_button {
  margin-top:0px;
  margin-bottom:0px;
  background:#e2e6e7;
  height:20px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.green-button, .orange-button, .red-button {
  display:inline-block;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-left:5px;
  margin-top:5px;
}

.green-button {
  background:#06b506;
}
.orange-button {
  background:orange; 
}
.red-button {
  background:red;
}

.terminal {
  font-family: monospace,monospace;
  color: #06b506;
  background:#121d20;
  padding: 0.75rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: #e2e6e7 1px solid;
}

.terminal_underscore {
  visibility: hidden;
}

.terminal_underscore.active {
  visibility: visible;
}

.header_presentation-subtitle-span,
.header_presentation-title,
.header_link-item {
  font-weight: bold;
}

.header_presentation-subtitle {
  text-align: right;
  margin-right: 2rem;
}

.header_presentation-subtitle-span {
  color: #EC9B3B;
}

.header_presentation-title {
  font-size: 2rem;
  color: #EC9B3B;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2px;
}

.header_container-content-cube {
  display: none;
}

/* Gestion de la phage Skills */
.skills_container-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills_circle {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #e3e3e3;
  border-radius: 50%;
  box-shadow: 0 0 25px 5px #ffffff;
  transition: 0.3s;
}

.skills_circle:hover {
  background: white;
}

.skills_circle img {
  width: 80%;
}

/* Gestion de la page Projects*/
.projects_container {
  width: 100%;
  margin: 0 auto;
}

.projects_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 15px;
  background: white;
  border: 5px solid #e3e3e3;
  box-shadow: 0 0 25px 5px #ffffff;
}

.card_image img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card_link-elt {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.card_link {
  font-size: 1.5rem;
  color: #EC9B3B;
}

.card_title {
  font-size: 1.2rem;
  color: black;
  font-weight: 900;
}

.card_description {
  padding: 1rem;
  color: #141E30;
}

.card_languages {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EC9B3B;
}

.language_item {
  width: 50%;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}


/* Gestion de l'effet cube en roration */
.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
}

.avant {
  transform: translateZ(50px);
}

.haut {
  transform: rotateX(90deg) translateZ(50px);
}

.gauche {
  transform: rotateY(-90deg) translateZ(50px);
}

.droite {
  transform: rotateY(90deg) translateZ(50px);
}

.bas {
  transform: rotateX(-90deg) translateZ(50px);
}

.arriere {
  transform: rotateY(-180deg) translateZ(50px);
}

#cube3a,
#cube3b,
#cube3c,
#cube3d {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 2rem;
  transform-style: preserve-3d;
}

#cube3a {
  perspective: 800px;
}

#cube3b {
  animation: rotationX 5s ease infinite;
}

#cube3c {
  animation: rotationY 7s ease infinite;
}

#cube3d {
  animation: rotationZ 9s ease infinite;
}

@keyframes cube {
  from {
    transform: rotateY(-20deg) rotateX(-20deg);
  }
  to {
    transform: rotateY(-380deg) rotateX(-20deg);
  }
}
@keyframes rotationX {
  from {
    transform: rotateX(30deg);
  }
  to {
    transform: rotateX(390deg);
  }
}
@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotationZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* Gestion des pages 404 et 500 */
.container-error {
  display: flex;
}
.pageNotFound img, .server-error img{
  width: 100%;
  border-radius: 50%;
}

/* Gestion du formulaire de contact */
.container {
  border-radius:5px;
  background-color:#f2f2f2;
  box-sizing: border-box;
  padding:20px;
  width: 100%;
  max-width: 440px;
  margin:0 auto;
}

form {
  display: flex;
  flex-direction: column;
  
}

.form-title  {
  color: #ffc800;
  width: 100%;
  margin-bottom: 1rem;
}

input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;}

.button-submit{
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #1872D9;
}

/* Gestion de l'animation entre les pages avec Swup JS */
.transition-fade {
  transition: 500ms;
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}
