<%- include('partials/header') %>

<header id="bloc_header" class="header">
    <h2 class="header_presentation-subtitle">
      Hello ! Je suis
      <span class="header_presentation-subtitle-span"
        >Christophe Gouteux</span
      >
    </h2>
    <h1 class="header_presentation-title">
      <div class="swiper-title">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Développeur</div>
          <div class="swiper-slide">web</div>
          <div class="swiper-slide">Fullstack JS</div>
          <div class="swiper-slide">React</div>
        </div>
      </div>
    </h1>
    <p class="header_presentation-content">
      <%= about.text_fr %>
    </p>
    <span class="header_presentation-statut"
      ><%= about.subtitle_fr %></span
    >

    <div class="header_container-content-cube">
      <div id="cube3a">
        <div id="cube3b">
          <div id="cube3c">
            <div id="cube3d">
              <img
                class="face avant"
                src="ressources/logo_cube/react.png"
                alt="logo react"
              />
              <img
                class="face haut"
                src="ressources/logo_cube/sass.png"
                alt="logo sass"
              />
              <img
                class="face gauche"
                src="ressources/logo_cube/js.png"
                alt="logo js"
              />
              <img
                class="face droite"
                src="ressources/logo_cube/brand-github.png"
                alt="logo github"
              />
              <img class="face bas" src="ressources/logo_cube/html_css.png" />
              <img
                class="face arriere"
                src="ressources/logo_cube/fullstack_logo.png"
                alt="fullstack_logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  
</header>


<%- include('partials/footer') %>