<%- include('partials/header') %>

<div id="bloc_project">
    <h2 class="projects_title">Projets</h2>
    <div class="projects_container">
        <div class="swiper">
          <div class="swiper-wrapper">
            
          </div>
        </div>
        <div id="swiper-pagination" class="swiper-pagination"></div>
      </div>
  </div>


<%- include('partials/footer') %>