<%- include('partials/header') %>

<div id="bloc_skills" class="skills">
    <h2 class="skills_title">Compétences</h2>
      <div class="skills_container">
        <div id="frontendSkills" class="skill_category-title">
          <img
            src="ressources/skills/skills_item.png"
            alt="skills"
          />
          <h3>Front-End</h3>
        </div>
        <div class="skills_category_item-container">
          <div class="skills_category_item">
            <div class="skill-item">
              <img
                src="ressources/icon-dev/html-5.png"
                alt="html5"
              />
              <p>HTML5</p>
            </div>
            <div class="skill-item">
              <img
                src="ressources/icon-dev/css-3.png"
                alt="css3"
              />
              <p>CSS3</p>
            </div>
            <div class="skill-item">
              <img
                src="ressources/icon-dev/sass.png"
                alt="sass"
              />
              <p>SASS</p>
            </div>
            <div class="skill-item">
              <img
                src="ressources/icon-dev/js.png"
                alt="JavaScript"
              />
              <p>Javascript</p>
            </div>
            <div class="skill-item">
              <p>jQuery</p>
            </div>
          </div>
        </div>
      </div>
      <div class="skills_container">
        <div id="backendSkills" class="skill_category-title">
          <img
            src="ressources/skills/skills_item.png"
            alt="skills"
          />
          <h3>Back-End</h3>
        </div>
        <div class="skills_category_item-container">
          <div class="skills_category_item">
            <div class="skill-item">
              <img
                src="ressources/icon-dev/nodejs.png"
                alt="nodejs"
              />
              <p>NodeJS</p>
            </div>
            <div class="skill-item">
              <p>Express</p>
            </div>
          </div>
        </div>
      </div>
      <div class="skills_container">
        <div id="projectManagementSkills" class="skill_category-title">
          <img
            src="ressources/skills/skills_item.png"
            alt="skills"
          />
          <h3>Gestion de projet</h3>
        </div>
        <div class="skills_category_item-container">
          <div class="skills_category_item">
            <div class="skill-item">
              <img
                src="ressources/icon-dev/github.png"
                alt="github"
              />
              <p>GitHub</p>
            </div>
          </div>
        </div>
      </div>
  </div>

<%- include('partials/footer') %>