<%- include('partials/header') %>

<section id="swup" class="page-skills transition-fade">

  <div class="skills_container-item">
    <% for (const skill of skills) { %>
      <div class="skills_circle">
          <img
            src="ressources/icon-dev/<%= skill.name %>.png"
            alt="Image qui représente la skill : <%= skill.name %>"
          />
      </div>
      <% } %>
  </div>

</section>

<%- include('partials/footer') %>
