<div class="nav">
  <button class="nav_button"><i class="fa-regular fa-circle"></i></button>
  <button class="nav_button"><i class="fa-regular fa-circle"></i></button>
  <button class="nav_button"><i class="fa-regular fa-circle"></i></button>
</div>

<div class="link_container">
    <div class="link_container_button">
      <button class="link_button-item">Me contacter</button>
    </div>
    <div class="link_container_button">
      <button class="link_button-item">Mon Cv</button>
    </div>
  </div>
</main>
<div class="circle-bottom-background">
  <div class="circle-bottom-background_interior"></div>
</div>
<footer></footer>
</body>

<script
src="https://kit.fontawesome.com/75e1cd7def.js"
crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
crossorigin="anonymous"
src="/js/main.js"
></script>
</html>