<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Je suis un développeur web front-end spécialisé en React basé en Normandie. Je propose mes services pour des projets de développement web modernes et performants."
    />
    <meta
      name="keywords"
      content="développeur web front-end, React, Normandie, développement web"
    />
    <meta name="author" content="Christophe Gouteux" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/ressources/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <title>Folio - Christophe Gouteux</title>
  </head>

  <body>
    <main class="main">
      <div class="flag_language">
        <div class="flag_language-container">
          <img
            class="react_logo"
            src="/ressources/react.png"
            alt="Image qui représente le logo du language de développement web React"
          />
          <div>
            <div class="flag_language-container-button">
              <button class="flag_language-button language_fr"></button>
              <span>/</span>
              <button class="flag_language-button language_en"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="nav_container">
        <div class="dot"><i class="fa-solid fa-bars"></i></div>
        <ul class="nav">
          <% if (navPage === 'about') { %>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/projects">Projets</a></li>
          <% } else if (navPage === 'skills') { %>
          <li><a href="/about">A propos</a></li>
          <li><a href="/projects">Projets</a></li>
          <% } else { %>
          <li><a href="/about">A propos</a></li>
          <li><a href="/skills">Skills</a></li>
          <% } %>
        </ul>
      </div>
