<%- include('../partials/header') %>

<div class="container-error">
    <div class="pageNotFound">
        <img src="./ressources/error-404.png" alt="Description de l'erreur page non trouvé">
    </div>
</div>


<%- include('../partials/footer') %>