<%- include('../partials/header') %>

<div class="container-error">
    <div class="server-error">
        <img src="./ressources/error-500.jpg" alt="Image qui décrit l'erreur interne du serveur">
    </div>
</div>


<%- include('../partials/footer') %>